@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Josefin+Sans:wght@100;400;500;600;700&family=Kablammo&family=Metal+Mania&family=Open+Sans:wght@400;500;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Paytone+One&family=Poppins:wght@300;400;500;600;700;900&family=Roboto+Mono:ital,wght@0,300;0,400;0,600;1,700&family=Roboto:wght@400;700&family=Rubik+Pixels&display=swap');
*{
       box-sizing: border-box;
       margin: 0;
       padding: 0;
       font-family: 'Poppins', sans-serif;
}
nav{
       display: flex;
       justify-content: space-around;
       align-items: center;
       width: 70%;
       margin: 0 auto;
}
.imgLogo img{
       width: 400px;
       padding-bottom: 130px;
}
.nav-Text{
       font-size: 50px;
       width: 900px;
       color: #2d565b;
       position: relative;
       bottom: 170px;
}
.home{
       display: flex;
       justify-content: center;
       align-items: center;
       gap: 50px;
       width: 70%;
       margin: 0 auto;
}
.PhotoContainer{
       display: flex;
       justify-content: center;
       position: relative;
}
.PhotoContainer img{
       width: 360px;
       border-radius: 50%;
}
.PhotoContainer i{
       font-size: 80px;
       color: #2d565b;
       position: absolute;
       right: 20px;
}
.containerHome h1{
       font-size: 70px;
       color: #2d565b;
       padding: 20px;
}
.containerHome p{
       font-size: 30px;
       padding: 20px;
       width: 1100px;
}
.linkContainerHome{
       display: flex;
       justify-content: start;
       padding: 20px;
       gap: 20px;
       font-size: 32px;
}
.linkContainerHome a{
       text-decoration: none;
       color: #2d565b;
       cursor: pointer;
}
.linkContainerHome a:hover{
       color: #2d565b;
       text-decoration: underline;
}
.linkContainerHome i{
       font-size: 40px;
       color: white;
       background-color:#2d565b;
       border-radius: 50%;
       cursor: pointer;
}
.firstSection{
       text-align: center;
       padding: 80px;
}
.appointment{
       display: grid;
       grid-template-columns: auto auto auto;
       justify-content: center;
       align-items: center;
       border-radius: 60px;
       margin :10px auto ; 
       padding:10px;
       width: 70%;
}
.containerAppointment{
       display: grid;
       grid-template-columns: auto auto auto;
       justify-content: center;
       align-items: center;
       gap: 5px;
       color: white;
       padding: 40px;
       border: 2px solid white;
       background-color: #2d565b;
       cursor: pointer;
       height: 200px;
}
.containerAppointment:hover{
       background-color: #466f75;
}
.rightBorderTop{
       border-top-left-radius: 50px ;
}
.rightBorderBottom{
       border-bottom-left-radius: 50px ;
}
.leftBorderTop{
       border-top-right-radius: 50px ;
}
.leftBorderBottom{
       border-bottom-right-radius: 50px ;
}
.containerAppointment p{
       font-size: 34px;
}
.containerAppointment i{
       font-size: 70px;
}
.red{
       background-color: #b41111;
}
.red:hover{
       background-color: #af3333;
}
.secondSection{
       padding: 40px;
       width: 70%;
       margin: 0 auto;
}
.titleSection2 h2{
       font-size: 72px;
       color: #2d565b;
       text-align: center;
       padding: 25px 25px 60px 25px;
}
.containerSection2{
       background-color: #2d565b;
       padding: 15px;
       color: white;
       width: 100%;
       border-top-left-radius: 50px ;
       border-bottom-right-radius: 50px ;
}
.questions{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding: 30px;
}
summary{
       font-size: 40px;
       cursor: pointer;
       padding: 15px;

}
.pSummary{
       font-size: 30px;
       text-align: start;
       margin: 40px;
}
details ul{
       font-size: 30px;
       padding: 15px;
       text-decoration: underline;
       cursor: pointer;
}
.lastQuestion{
       padding-bottom: 20px;
}
.titleSection3 h2{
       font-size: 52px;
       color: #2d565b;
       padding: 25px;
       text-align: center;
}
.containerSection3{
       width: 70%;
       margin: 20px auto;
}
.section4{
       width: 70%;
       margin: 0 auto;
       background-color: #fcfaf6;
       padding: 20px;
       display: flex;
       justify-content: center;
       align-items: center;
       border-top-left-radius: 50px ;
       border-bottom-right-radius: 50px ;
}
.containerSection4 p{
       font-size: 40px;
       padding: 65px;
}
.linkContainer4{
       font-size: 40px;
       padding: 10px 65px;
       display: flex;
       gap: 15px;
}
.linkContainer4 a{
       text-decoration: underline;
       color: #2d565b;
       cursor: pointer;
}
.linkContainer4 i{
       color: white;
       background-color:#2d565b;
       border-radius: 50%;
       cursor: pointer;
       display: flex;
       justify-content: center;
       align-items: center;
}
.imgContainer{
       display: flex;
       position: relative;
}
.imgContainer img{
       padding: 25px;
       width: 360px;
       border-radius: 50%;
}
.imgContainer i{
       font-size: 60px;
       color: #2d565b;
       position: absolute;
       left: 10px;
}
.section5{
       width: 70%;
       margin: 20px auto;
       padding: 30px;
}
.firstPart{
       display: flex;
       justify-content: start;
       align-items: center;
       gap: 30px;
       padding: 40px;
}
.containerSection5 h3{
       font-size: 60px;
       color: #2d565b;
       padding: 25px;
}
.containerSection5 p{
       font-size: 30px;
       padding: 25px;
       color: #333333;
}
.imgSection5 img{
       width: 360px;
       border-radius: 50%;
}
.secondPart{
       padding: 25px;
}
.secondPart p{
       font-size: 30px;
       padding: 25px;
       color: #333333;
}
.linkContainer5{
       padding: 25px;
}
.linkContainer5 details summary{
       text-decoration: none;
       color: #2d565b;
       cursor: pointer;
       font-size: 40px;
}
.container h4{
       padding: 10px;
       font-size: 20px;
}
.container p{
       padding: 10px;
       font-size: 26px;
}
.section6{
       width: 70%;
       margin: 0 auto;
       background-color: #fcfaf6;
       padding: 20px;
       border-top-left-radius: 50px ;
       border-bottom-right-radius: 50px ;
}
.section6 h3{
       font-size: 50px;
       color: #2d565b;
       padding: 25px;
       text-align: center;
}
.containerSection6{
       display: flex;
}
.imgSection6{
       display: flex;
       padding: 20px;
       justify-content: center;
       align-items: center;
       margin: 20px auto;
}
.imgSection6 img{
       width: 280px;
       border-radius: 50%;
}
.containerSection h3{
       font-size: 30px;
       padding: 20px;
       color: #242424;
}
.containerSection p{
       font-size: 22px;
       padding: 20px;
       color: #4a4a4a;
}
.section7{
       width: 70%;
       margin: 20px auto;
       padding: 20px;
}
.section7 h2{
       font-size: 50px;
       color: #2d565b;
       padding: 25px;
}
.section7 a{
       text-decoration: underline;
       color: #2d565b;
       cursor: pointer;
       font-size: 40px;
       padding: 55px 25px;
}
.section7 p{
       font-size: 30px;
       padding: 75px 25px 40px;
       color: #333333;
}
.section7 ul{
       font-size: 22px;
       padding: 10px 25px;
       color: #4a4a4a;
}
footer{
       color: black;
       margin: 0 auto;
       padding: 20px;
       background-color: #fcfaf6;
}
.widthFooter{
       display: flex;
       justify-content: space-between;
       flex-direction: row;
       margin: 0 auto;
       padding: 20px;
       width: 70%;
       font-size: 26px;
}
.widthFooter img{
       width: 360px;
       padding: 20px 60px;
}
.containerFooter p,h4{
       padding: 5px 60px;
}
.thirdPartFooter p{
       padding: 5px 60px;
}
.thirdPartFooter a{
       text-decoration: underline;
       color: #2d565b;
       cursor: pointer;
       font-size: 26px;
       padding: 20px 60px;
}
@media screen and (max-width: 1200px){
       .imgLogo img{
              width: 200px;
       }
       .nav-Photo img{
              width: 700px;
       }
       .nav-Text {
              font-size: 30px;
              width: 400px;
              bottom: 100px;
              left: 50px;
       }
       .home{
              display: inline;
              position: relative;
       }
       .PhotoContainer i{
              font-size: 50px;
              right: 0px;
              left: 700px;
       }
       .containerHome{
              text-align: center;
       }
       .linkContainerHome{
              justify-content: center;
       }
       .section4{
              flex-direction: column;
       }
       .containerSection4{
              order: 1;
       }
       .imgContainer{
              order: 0;
       }
       .imgContainer i{
              left: 300px;
       }
       .containerSection6{
              display: block;
       }
       .widthFooter{
              display: block;
       }
}
@media screen and (max-width: 700px){
       nav{
              display: none;
       }
       .containerHome p{
              width: 780px;
       }
       header{
              width: 780px;
       }
       .PhotoContainer i{
              right: 0px;
              left: 500px;
       }
       .appointment{
              display: block;
              width: 600px;
              
       }
       .secondSection{
              width: 780px;
              margin: 0 auto;
       }
       .thirdSection{
              width: 780px;
       }
       .section4{
              width: 780px;
       }
       .section5{
              width: 780px;
       }
       .section6{
              width: 780px;
       }
       .section7{
              width: 780px;
       }
       footer{
              width: 780px;
       }
}
